@useScope: global;
@img_base_url: '/public/picture';

@logo: @img_base_url+'/';


@main_color: rgba(67, 161, 195, 1);
@box_shadow_color: rgba(67, 161, 195, 0.1);
@sec_color: rgba(0, 11, 39, 1);

// methods
@cell_box-shadow: {
    box-shadow: 0 0 4px @box_shadow_color;
}

@game_line_gradients: {
    background: linear-gradient(to right, rgba(0, 11, 39, .5), rgba(0, 0, 0, 0));
}

@base_font-family: {
    font-family: jane;
}

@font-face {
    font-family: jane;
    // src: url("/font/Muyao-Softbrush.ttf");
    src: url('../../font/Mini Jane goose feather.ttf')
}